{% extends 'base.html' %}

{% block container %}
  <h2>Add some new object</h2>
  <form action="." method="post">
    {% csrf_token %}
    <table class="table table-striped">
      {{ form.as_table }}
    </table>
    <button class="btn btn-success">Add new object</button>
  </form>
{% endblock %}
