{% extends 'base.html' %}
{% block container %}
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to this simple project</h1>
      <h3>Here is a list of simple objects:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <ul>
        {% for simpleobject in simpleobject_list %}
          <li>
            <a href="{% url 'home:update' pk=simpleobject.pk %}">{{ simpleobject }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <a href="{% url 'home:create' %}" class="btn btn-primary">Create new object</a>
      </div>
    </div>
  </div>
{% endblock %}
